INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC        = C9;
NET "Reset" LOC        = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;
NET "VGA_RED"	 LOC  = "H14" | IOSTANDARD = LVTTL | DRIVE    = 8 | SLEW = FAST;
NET "VGA_GREEN" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE    = 8 | SLEW = FAST;
NET "VGA_BLUE" LOC  = "G15" | IOSTANDARD = LVTTL | DRIVE    = 8 | SLEW = FAST;
NET "VGA_HSYNC" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE    = 8 | SLEW = FAST;
NET "VGA_VSYNC" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE    = 8 | SLEW = FAST;
//NET "PS2_CLK" LOC   = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
//NET "PS2_DATA" LOC  = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
